@media(max-width:874px){

    .caja1{
        display: none !important;
    }

}
body{
    background-color: aliceblue;
}


.caja1{
    
    border-end-start-radius: 10px;
    border-top-left-radius: 10px;
    height: 500px;
    background-color: rgb(255, 255, 255);
}

.caja2{
    border-left: solid 2px rgb(175, 172, 172);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(255, 255, 255);

}


.logocrebro{
    width: auto;
    height: auto;
}



.loce{
    width: 50px;
    height: 50px;
    
}



.contenido{
    margin: 10px 20px 20px 20px;
}




.cajachat{
    border-radius: 10px;
    border: solid 1px black;
}

.conChatB{
    
    
    height: 52px;
    align-items: center;
    
}


.tx1{
    height: 24px;
}


.dato1:hover{
    background-color: gray;
    border-radius: 5px;
}

.dato2:hover{
    background-color: gray;
    border-radius: 5px;
}

.dato3:hover{
    background-color: gray;
    border-radius: 5px;
}

.dato4:hover{
    background-color: gray;
    border-radius: 5px;
}

.dato5:hover{
    background-color: gray;
    border-radius: 5px;
}
.mlp{
    
    margin-top: 40px !important;
    width: 700px;
    
    
}
.tre{
    display: flex;
    justify-content: center;
    border-radius: 15px;
}
.input-group-text{
    border-radius: 15px;
    background-color: rgb(255, 255, 255) !important;
}
.hhl{
    border: solid 2px rgb(175, 172, 172);
    border-radius: 10px;
box-shadow:  5px 9px 15px #c8e7f1,
             -5px -9px 15px #daf2fe;
}